.ContactsBody {
    margin: 20px auto 20px auto;
    padding: 10px 40px 20px 40px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 #ccc;
    color: #333;
    border: 1px solid #ddd;
    text-align: left;
}

.ContactsTitle {
}

.ContactsContent {
    font-size: large;
}

.ContactsContent p  {
    padding: 5px 0;
}

.ContactsLast {
    display: block;
    width: 400px;
    font-size: large;
}