.FooterMenu {
     list-style: none;
 }

.FooterMenu a {
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: 0.1s;
    font-weight: bold;
    color: #ffffff;
}
.FooterMenu li:hover a {
    color: #ccc;
}
.FooterMenu a:visited{
    color: #fff;
}