.FooterMenu {
     list-style: none;
     margin-right: 70px;
 }

.FooterMenu a:visited {
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    transition: 0.1s;
    font-weight: bold;
    color: #ffffff;
}