.formBody {
    margin: 20px 20% 20px 20%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto auto auto;
    border: 1px solid #ccc;
    padding-bottom: 20px;
    background-color: #cbeadd;
    font-family: Cambria;
}

.formBody p {
    justify-self: left;
}

.inputField {
    grid-column-start: 2;
    margin-top: 20px;
    font-size: large;
}

.inputField input {
    float: right;
    width: 450px;
}

.inputField textarea {
    resize: none;
    width: 450px;
    height: 150px;
    float: right;
}

.inputField label {
    margin-right: 15px;
    float : left;

}

.formBody p {
    grid-column-start: 2;
    font-size: xx-large;
    display:inline-block;
    margin-top: 10px;
}

.sendQuestion {
    margin-top: 20px;
    grid-column-start: 2;
    justify-self: center;
    display: inline-block;
    width: 250px;
    text-decoration: none;
    font-weight: bold;
    outline: 2px solid #5f6368;
    padding: 10px 20px;
    box-sizing: content-box;
    transition: 0.1s;
    color: #5f6368;
}