.MapPage {
}

.Maps {
    z-index: 10;
    display: block;
    margin: auto;
    height: 750px;
}

.MapContent {
    width: 70%;
    display: grid;
    grid-template-columns: 70% auto;
    justify-self: center;
    padding: 20px 0;
    margin: 0 auto;
}