.FormBody {
    margin: 20px auto;
    padding: 0 40px 10px 40px;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 #ccc;
    border: 1px solid #ddd;
    color: #333;
}

.InputField {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 20px;
    font-size: large;
}

.InputField label {
    grid-column: 1;
    margin-right: 15px;
    justify-self: left;
}

.InputField input {
    justify-self: right;
    grid-column: 2;
    width: 450px;
    padding: 5px 10px;
}

.InputField textarea {
    grid-column: 2;
    resize: none;
    width: 450px;
    height: 150px;
    padding: 5px 10px;
    display: block;
}

.FormBody .PageDescription {
    display: inline-block;
    grid-column-start: 2;
    font-size: large;
    text-align: justify;

}

.FormBody h2{
    grid-column-start: 2;
    font-size: xx-large;
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-self: left;
    grid-column-end: 4;
}


.SendQuestion {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
    display: inline-block;
    width: 250px;
    text-decoration: none;
    font-weight: bold;
    outline: 1px solid #ccc;
    padding: 10px 20px;
    box-sizing: content-box;
    transition: 0.1s;
    color: #5f6368;
}


.SendQuestion:hover {
    background-color: #44AA9C;
    color: #fff;
}

.ErrorMessage {
    font-style: italic;
    color: #f00;
}