.SearchField {
    padding: 0 20px;
    align-self: center;
    position: relative;
}

.SearchField input {
    display: block;
    align-self: center;
    padding: 2px 5px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
}

.SearchField::after {
    right: 30px;
    top: 15%;
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../../img/search-ico.png);
    background-size: 15px 15px;

}