.MenuItem {
    display: inline-block;
    position: relative;
}

.MenuItem a {
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: 0.1s;
    font-weight: bold;
    color: #5f6368;
}

.MenuItem a:visited {
    color: #878d93;
}

.MenuItem a:hover{
    color: #fff;
    background-color: #cbeadd;
}

.MenuItem a:active {
    background-color: #B8D8CB;
}

.MenuItem:hover .SubMenu{
    display: block;
    position: absolute;
    background-color: #f1f3f4;

}
/*TODO: fix blue part after last menu element*/

.SubMenu {
    display: none;
    z-index: 100;
}

.SubMenu .MenuItem:first-child {
    border-top: 1px solid #ccc;
}
.SubMenu .MenuItem {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.SubMenu .MenuItem a {
    display: block;
}