.AnonForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 5px 0 #ccc;
    border: 1px solid #ddd;
    margin: 20px auto 20px auto;
    width: 33%;
    padding: 0 40px 20px 40px;
    grid-row-gap: 10px;
    color: #525252;
    border-radius: 20px;
}

.AnonForm .FormTitle
{
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 10px 0;
}

.AnonForm .AnonDescription
{
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 10px;
    font-style: italic;
}

.Checkboxes div {
}

.AnonForm .Description {
    justify-self: center;
    grid-column-start: 1;
    text-align: justify;
}

.AnonForm input[type=checkbox] {
    justify-self: center;
    grid-column-start: 2;
    align-self: center;
}


.AnonForm input[type = "checkbox"] {
    position: relative;
    appearance: none;
    outline: none;
    width: 50px; height: 30px;
    background-color: #ffffff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 150ms;
}

.AnonForm input[type = "checkbox"]:after {
    content: "";
    position: absolute;
    top: 1px; left: 1px;
    width: 26px; height: 26px;
    background-color: transparent;
    border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

.AnonForm input[type = "checkbox"]:checked {
    border-color: #44aa9c;
    box-shadow: inset 20px 0 0 0 #44aa9c;
}

.AnonForm input[type = "checkbox"]:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

.AnonForm .Btn
{
    background-color: #44aa9c;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    width: 70px;
}

.Btn:hover
{
    background-color: #7AB19C;
}



.AnonForm .Btn.Forward
{
    justify-self: right;
}
