.ReportType
{
    border: 1px solid #ddd;
    margin: 20px auto 20px auto;
    padding: 0px 40px 10px 40px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 #ccc;
    color: #323232;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: left;
    width: 33%;
}

.ReportType h2
{
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 10px 0;
    justify-self: center;
}
.ReportType .Description
{
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: left;
    text-align: justify;
    font-style: italic;
    margin-bottom: 10px;
}

.ReportType label
{
    margin-bottom: 10px;
}

.ReportType input
{
    align-self: center;
}

.ReportType .Btn
{
    background-color: #44aa9c;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    width: 70px;
}

.ReportType .CategoryList
{
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 20px;
    width: 40%;
}

.ReportType .Btn.Forward
{
    justify-self: right;
}
