.ReportType
{
    border: 1px solid #ddd;
    margin: 20px auto 20px auto;
    padding: 0 40px 10px 40px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 #ccc;
    color: #323232;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    width: 33%;
}

.ReportType h2
{
    justify-self: center;
}
.ReportType .Description
{
    justify-self: left;
    text-align: justify;
    font-style: italic;
}
