html, body {
  background-color: #f1f3f4;
  height: 100vh;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto; /*fraction*/

  min-height: 100vh;

  grid-template-columns: 100%;

  color: #878d93;
  background-color: #f1f3f4;

}

