html, body {
  background-color: #f1f3f4;

}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto; /*fraction*/

  height: 100vh;

  grid-template-columns: 100%;


  color: #878d93;
  background-color: #f1f3f4;

}

