html, body {
  background-color: #f1f3f4;
  height: 100%;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto; /*fraction*/



  grid-template-columns: 100%;

  color: #878d93;
  background-color: #f1f3f4;

}

