.FaqPage {
    color: #333;
    display: grid;
}

.FaqHeader {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 10px 0;
    background-color: #44aa9c;
}

.FaqHeader h2 {
    grid-column-start: 2;
    color: white;
}

.Questions {
    width: 70%;
    justify-self: center;
}