.ask_and_answer {
    padding-left: 25px;
    font-size: large;
    grid-column-start: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right:  1px solid rgba(0, 0, 0, 0.74);
    border-left:   1px solid rgba(0, 0, 0, 0.74);
    border-bottom: 1px solid rgba(0, 0, 0, 0.74);
}

.FAQ_body {
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 15% auto 20%;
}

.FAQ_top {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: x-large;
    padding: 10px 0;
    background-color: rgba(76, 185, 42, 0.71);
    border-bottom: 1px solid rgba(0, 0, 0, 0.74);
}

.FAQ_top h2 {
    grid-column-start: 2;
    color: rgba(0, 0, 0, 0.74);

}

.heading {
    text-align: left;
    display: block;
    font-size: larger;
    padding-bottom: 5px;
}

/*.answer {
    text-align: left;
    display: block;
    font-size: larger;
    padding-bottom: 5px;
}*/

.test {
    width: 20px;
    float: left;
    padding-top: 2px;
    padding-right: 5px;
}

.ask_and_answer ol {
    padding-left: 25px;
    list-style-type:initial;
}

.answer_body {
    text-align: left;
    display: block;
}
