.Footer {

    background-color: #44aa9c;

    display: grid;

    grid-template-columns: 1fr auto auto auto 1fr;

    grid-row-start: 3;

    justify-items: center;

    align-items: center;

    border-bottom: 1px solid #ccc;


}
